article p {
	text-align: center;
  }

  .fi {
	height: 45.5vh;
	border: 4px solid rgb(76, 66, 61, 0.95);
  }

  .ase {
	height: 42.2vh;
  }

  .fi:hover {
	border: 4px solid rgb(76, 66, 61, 0.95);
  }

  .table-wrapper {
	margin-bottom: -6%;
  }

  @media screen and (max-width: 600px) {
	.fi {
		height: 30vh;
	}

	.ase {
		height: 28vh;
	}
  }